*:not(p, h1, h2, h3) {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    font-weight: bold;
}

nav h1,
nav ul {
    margin: 0 20px;
}

nav h1,
a {
    color: white;
    text-decoration: none;
}

.board {
    background-color: rgb(14, 13, 13);
    border-radius: 16px;
    border: 8px solid white;
}

nav {
    background-color: rgb(14, 13, 13);
}

.game-curr img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: inline;
    width: 3em;
    height: 3em;
}

table {
    table-layout: fixed;
}

table td {
    width: 10%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

#profilePic {
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0;
}

#photo-upload {
    display: none;
}

#profileBg {
    border: 8px solid white;
    border-radius: 16px;
}

#form .form-group  {
    background-color: white;
    border: 10px double black;
    border-radius: 10px;
}
#form > div > input, #form > div > textarea {
    border: 5px solid black;
    border-radius: 10px;
}
#form .form-group input, #form .form-group textarea, #form .form-group button, #form .form-group select {
    border-radius: 0px;
}

#form .form-group:last-child  {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group-prepend {
    border-radius: 0%;
}